<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Corben:wght@700&amp;family=Work+Sans:wght@400;500;700&amp;display=swap"
    as="style">
  <link
    href="https://fonts.googleapis.com/css2?family=Corben:wght@700&amp;family=Work+Sans:wght@400;500;700&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/highlight.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ '/assets/js/highlight.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>